<!-- {{SSRFunctions}} -->
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <!-- {{SSRHead}} -->

    <base href="/">
    
    <meta name="theme-color" content="#002FA7">

    <link rel="manifest" href="<%= htmlWebpackPlugin.options.pathname %>/assets/manifest.json">
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.pathname %>/favicon.ico">
    <link rel="preconnect" href="https://base.cheno.fr">
    <meta name="google" content="notranslate">

    <style>
      :root {
        --elara-darkgray: #2f2f2f;
        --elara-lightgray:#f2f2f2;
        --elara-link: #2c3d00;
        --elara-nav-background: #fff;
        --elara-primary: #002FA7;;
        --elara-secondary: #5E595D;
        --elara-cta: #e8e8d4;
        --elara-color: rgba(134, 156, 39, .8);
        --elara-input-container: rgb(98, 110, 52);
        --elara-input-focus: rgba(98, 110, 52, 0.7);
        --elara-loader-background: rgba(255, 255, 255, .8);
        --elara-highlight: #002FA7;
        --elara-complementary: #5E595D;

        --elara-background-color: #fff;
        --elara-footer-color: #f5f5f5;
        --elara-font-color: #2f2f2f;
        --elara-font-hover: rgb(0, 0, 0, 0.3);
        --elara-loader-background: rgba(255, 255, 255, 0.8);
        --elara-light-background: rgba(255, 255, 255, 0.9);

        --elara-font-primary: 'Andika', "Lucida Grande", Tahoma, Sans-serif;
        --elara-font-display: 'Comfortaa', "Times New Roman", Times, serif;
        --paper-font-common-base: {
            font-family: var(--elara-font-primary);
        };
        --mdc-theme-primary: var(--elara-primary);
        --mdc-theme-secondary: var(--elara-secondary);
        --mdc-linear-progress-buffer-color: var(--elara-secondary);
      }

      html {
        height: 100%;  
        box-sizing: border-box;
      }

      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }

      body {
        padding: 0;
        margin: 0;
        background-image: var(--unsplash-bg);
        background-color: var(--elara-background-color);
        font-family: var(--elara-font-primary);
        font-size: 16px;
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
        height: 100%;
      }

      /* Main styling */
      .logo {
          cursor: pointer;
      }

      .content {
          color: var(--elara-font-color);
          font-family: var(--elara-font-primary);

          opacity: 1;
          margin: 0;
          position: relative;
          display : block;
          width: 100%;
          min-height: 100%;
      }

      .content.hidden {
          opacity: 0;
          z-index: 0;
          visibility: hidden;
      }

      header {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;

          z-index: 999;
          
          margin: 5px 30px;
      }

      footer {
          position: fixed;    
          clear: both;
          bottom: 0;
          margin: 30px;
          color: var(--elara-font-color);
          mix-blend-mode: soft-light;
          z-index: 999;
          user-select: none;
          pointer-events: none;
      }

      .logo {
          width: 150px;
          height: 90px;
      }

      .menu {    
          position: fixed;
          right: 20px;
          z-index: 999;
          width: 36px;
          height: 36px;
          padding: 0;
          margin: 0;
          margin-top: 10px;
          outline: none;
          border: none;
          background: none;
          cursor: pointer;
          -webkit-appearence: none;
          -webkit-tap-highlight-color: transparent;
      }
      .menu svg {
          width: 64px;
          height: 48px;
          top: -6px;
          left: -14px;
          stroke: var(--elara-font-color);
          stroke-width: 3px;
          stroke-linecap: round;
          stroke-linejoin: round;
          fill: none;
          display: block;
          position: absolute;
      }
      .menu svg path {
          transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
          stroke-dasharray: var(--array-1, 24px) var(--array-2, 100px);
          stroke-dashoffset: var(--offset, 126px);
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
      }
      .menu svg path:nth-child(2) {
          --duration: .2s;
          --easing: ease-in;
          --offset: 100px;
          --array-2: 74px;
      }
      .menu svg path:nth-child(3) {
          --offset: 133px;
          --array-2: 107px;
      }
      .menu.active {
          --color: #fff;
      }
      .menu.active svg path {
          --offset: 57px;
      }
      .menu.active svg path:nth-child(1), .menu.active svg path:nth-child(3) {
          --delay: .15s;
          --easing: cubic-bezier(.2, .4, .2, 1.1);
      }
      .menu.active svg path:nth-child(2) {
          --duration: .4s;
          --offset: 2px;
          --array-1: 1px;
      }
      .menu.active svg path:nth-child(3) {
          --offset: 58px;
      }

      .main-menu {
          min-width: 30%;
          position: fixed;
          min-height: 100px;
          right: 0;
          top: 0;
          visibility: hidden;
          overflow: hidden;
          opacity: 0;
          transition: visibility 0s .3s, opacity .3s linear;
          border-radius: 0 0 4px 4px;
      }

      @media (max-width: 700px){
          .main-menu {
              min-width: 100%;
          }
          header {
              z-index: 5;
          }
      }

      .main-menu::after {
          position: absolute;
          bottom: 26px;
          content:'';
          width: 100%;
          height: 100vh;
          background-color: rgba(86, 86, 86, .9);
          transform: skewY(-20deg);
          border-radius: 4px;
          z-index: -1;
      }

      .main-menu.visible {
          opacity: 1;
          transition: opacity .3s linear;
          visibility: visible;
      }

      .main-menu nav ul {
          padding: 0 20px;
      }

      .main-menu nav ul li {
          color: white;
          cursor: pointer;
          list-style: none;
      }

      .main-menu nav ul li h3 {
          opacity: .5;
          line-height: 3em;
          font-family: var(--elara-font-primary);
          transition: opacity .3s linear;
      }

      .main-menu nav ul li h3:hover {
          opacity: 1;
      }
        
      svg.logo path {
          transition: fill .3s;
      }
        
      .write {
          stroke-dasharray: 7512.03125;
          stroke-dashoffset: 7512.03125;
          animation: writeLine 2s linear forwards;
      }

      @keyframes writeLine {
          to {
              stroke-dashoffset: 0;
          }
      }

      /* Common | PageController */
      .page {
        padding: 2em;
        padding-top: 6em;
      }

      li {
        list-style: initial;
      }

      .cols {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .page iron-image {
        width: 25vw; 
        height: 400px;
      }

      .image-container {
        padding: 1em;
      }

      h3 {
        margin: 0;
      }

      @media (max-width: 600px){
          .cols {
            flex-direction: column-reverse;
          }

          .image-container {
            text-align: center;
          }

          .page iron-image {
            width: 250px;
          }
      }

      img {
        max-width: 300px;
      }

      h1,
      h2,
      p,
      i,
      a,
      .first-letter,
      .authorName a {
        color: var(--elara-font-color);
        text-rendering: optimizeLegibility;
      }

      h1 {
        font-size: 36px;
        text-align: left;
        margin-bottom: 8px;
      }

      h2 {
        font-size: 26px;
        font-weight: 700;
        padding: 0;
        margin: 56px 0 -13px -1.883px;
        text-align: left;
        line-height: 34.5px;
        letter-spacing: -0.45px;
      }

      p, i, a {
        margin-top: 21px;
        font-family: "Lora";
        font-size: 21px;
        letter-spacing: -0.03px;
        line-height: 1.58;
      }

      a {
        text-decoration: underline;
      }

      blockquote {
        position: relative;
        font-family: var(--elara-font-display);
        font-size: 30px;
        font-style: italic;
        letter-spacing: -0.36px;
        line-height: 44.4px;
        overflow-wrap: break-word;
        margin: 55px 0 33px 0;
        /* text-align: center; */
        color: rgba(0, 0, 0, 0.68);
        padding: 0 0 0 50px;
      }

      blockquote cite {
        display: block;
        font-size: 20px;
        text-align: right;
        color: var(--elara-font-color);
      }

      code {
        font-size: 18px;
        background: rgba(0,0,0,.05);
        border-radius: 2px;
        padding: 3px 5px;
      }

      mark, .highlighted {
        background: #7DFFB3;
      }

      .first-letter {
        overflow-wrap: break-word;
        font-family: var(--elara-font-primary);
        font-size: 60px;
        line-height: 60px;
        display: block;
        position: relative;
        float: left;
        margin: 0px 7px 0 -5px;
      }

      .subtitle {
        font-family: var(--elara-font-primary);
        color: rgba(0, 0, 0, 0.54);
        margin: 0 0 24px 0;
      }

      ::selection{background-color: #002FA7;}

      /* Home */
      .home-container {
        display: grid;
        height: 100%;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
      }

      .series ul {
        text-align: right;
        margin: 0;
        margin-top: 100px;
      }

      .series ul li {
        list-style: none;
        line-height: 3em;
        margin-right: 3em;
        font-weight: bold;
        cursor: pointer;
        opacity: .5;
        transition: .3s opacity;
      }

      .series ul li:hover, .series ul li.selected {
        opacity: 1;
      }

      .series ul li.selected {
        cursor: default;
      }

      .series ul li h1.big {
        display: inline;
        font-family: var(--elara-font-display);
        font-size: 1.2em;
        position: relative;
        padding: .5em 0;
      }

      @media (min-width: 500px){
          .series ul li {
            line-height: 5em;
            margin-right: 5em;
          }

          .series ul li h1.big {
            font-size: 1.5em;
          }
      }

      .previewed {
        cursor: pointer;
        height: 75vh;
        width: 50vw;
        margin: 10px;
      }

      .series, .preview {
        height: 100vh;
        width: 50vw;
      }

      .series {
        z-index: 4;
      }

      .series .single-container {
        margin-top: 120px;
        margin-left: 3em;
      }
      
      .series .single-container.loading {
        margin-left: 0;
      }

      .series .single-container img {
        max-width: 30vw;
      }

      .preview {
        display: flex;
        align-items: center;
        position: fixed;
        right: 0;
      }

      .count  {
        position: absolute;
        right: 10px;
        bottom: 30px;
        user-select: none;
        display: flex;
        justify-content: flex-end;
        line-height: 1.4em;
      }

      .masonry .count {
        bottom: -50px;
      }

      .unfold mwc-icon, .count mwc-icon {
        opacity: .5;
        cursor: pointer;
        transition: opacity .3s linear;
      }

      .count mwc-icon.disabled {
        opacity: 0 !important;
        cursor: default;
      }

      .unfold mwc-icon:hover, .count mwc-icon:hover {
        opacity: 1;
      }

      .count .pagination {
        display: inline;
      }

      .progress {
        position: absolute;
        bottom: 0;
        width: 50vw;
      }

      .progress mwc-linear {
        width: 50vw;
      }

      .single-cat {
        display: inline;
        cursor: crosshair;
      }

      .selected .big {
        background-image: linear-gradient(120deg, #002Fa7 0%, #8fd3f4 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.1em;
        background-position: 25px 88%;
        transition: all 0.25s ease-out;
      }

      .masonry {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        grid-gap: 3px;
        grid-auto-rows: minmax(180px, auto);
        grid-auto-flow: dense;
        padding: 10px;
        margin-top: 80px;
      }

      .masonry .item {
        cursor: pointer;
      }

      /* Contact */
      .contact {
        display: grid;

        grid-template-columns: repeat(2, 1fr);

        padding: 2em;
        padding-top: 6em;

        --mdc-notched-outline-leading-width: 10px;
        --mdc-notched-outline-trailing-border-radius: 0 10px 10px 0;
        --mdc-radio-unchecked-color:  var(--elara-primary);
        --mdc-theme-primary: var(--elara-primary);
      }


      mdc-formfield {
        color: white;
      }

      form {
        display: flex;
        flex-direction: column;
        width: auto;
      }

      form .field.send {
        display: flex;
        justify-content: flex-end;
        padding: 0;
      }

      form .field > mwc-textfield,
      form .field > mwc-textarea {
        margin: 1em 0;
        width: 100%;
      }

      form .field.send > mwc-button {
        width: auto;
      }

      .side.layer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 4em;
        padding: 0 2em;
        border-left: 1px solid #CCC;
      }

      .side.layer h2 {
        margin-top: 0;
        font-size: 1.3em;
      }

      .side.layer p {
        font-size: 1.1em;
      }

      .side.layer h3 {
        margin-bottom: 1em;
      }

      .side.layer h3,
      .side.layer p {
        user-select: none;
      }

      @media (max-width: 485px){
          .contact {
            display: block;
          }
      }

      .book {
        align-self: flex-end;
      }

      .ecology-smile {
        display: flex;
        align-items: center;
      }

      .side.layer svg, .side.layer mwc-icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        cursor: pointer;
        fill: var(--elara-font-color);
      }

      .helper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      /* Exposition gallery */
      .expos {
        --text-light: rgba(255,255,255,0.9);
        --mdc-tab-text-transform: normal;
        --spacing-s: 8px;
        --spacing-l: 24px;
        --spacing-xl: 64px;
        --mdc-tab-text-label-color-default: var(--elara-font-color);

        height: 100%;
        width: 100%;
        color: var(--elara-font-color);
      }
      
      .card {
        margin-top: 0;
        cursor: pointer;
        min-height: 350px;
        list-style: none;
        position: relative;
      }
        
      .card__background {
        background-size: cover;
        background-position: center;
        border-radius: 4px;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform-origin: center;
      }

      .card:hover .card__background::before {
        background-color: rgba(0, 0, 0, 0.4);
      }

      .card__background::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
      }
        
      .card__content {
        left: 0;
        padding: var(--spacing-l);
        position: absolute;
        top: 0;
      }
        
      .card__place, .card__date {
        margin: 0;
        color: var(--text-light);
        font-size: .8em;
        margin-bottom: var(--spacing-s);
      }
        
      .card__heading {
        color: var(--text-light);
        font-size: 1.2em;
      }

      .card-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: var(--spacing-l);
        grid-row-gap: var(--spacing-l);
        margin-top: 2em;
        width: 100%;
      }
      
      @media(min-width: 540px) {
        .card-grid {
            grid-template-columns: repeat(2, 1fr); 
        }
      }
      
      @media(min-width: 960px) {
        .card-grid {
            grid-template-columns: repeat(4, 1fr); 
        }
      }

      .card.hide {
        opacity: 0;
      }

      .periods {
        width: 100%;
      }

      .expositions-grid {
        padding: 0em 3em;
        margin-top: 7em;
      }

      /* Expo single */
      .single {
        margin-top: 6em;
        padding: 2em;
        overflow: hidden;
      }

      .images {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .article__header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
      }

      .article__header h1 {
        display: flex;
        align-items: center;
        flex-direction: row;
      }

      .article__header h1 mwc-icon {
        cursor: pointer;
        font-size: 1.15em;
      }
    </style>
    <!-- {{SSRPayload}} -->
    <noscript>JavaScript is needed to use this website.</noscript>
    <script defer src="<%= htmlWebpackPlugin.options.pathname %>/boot.js"></script>
    <script defer src="<%= htmlWebpackPlugin.options.pathname %>/vendor/webcomponents-loader.js"></script>
    <script defer src="<%= htmlWebpackPlugin.options.pathname %>/vendor/web-animations-next-lite.min.js"></script>
    <script defer src="<%= htmlWebpackPlugin.options.pathname %>/vendor/custom-elements-es5-adapter.js"></script>
  </head>
  <body>
    <elara-app></elara-app>
    <script src="https://browser.sentry-cdn.com/5.10.2/bundle.min.js" integrity="sha384-ssBfXiBvlVC7bdA/VX03S88B5MwXQWdnpJRbUYFPgswlOBwETwTp6F3SMUNpo9M9" crossorigin="anonymous"></script>
    <script>
    // @ts-check
    const userAgent = window.navigator.userAgent.toLowerCase();
    const oldEdge = userAgent.indexOf("edge") !== -1
    
    if(oldEdge){
      throw new Error('Please upgrade your browser.');
    }

    // @ts-ignore
    WebFontConfig = {
      'google': { 'families': [ 
        'Andika:400,700',
        'Comfortaa:400,700',
        'Material+Icons&display=swap'
        ] }
    };
    
    const loadGFonts = function(){
      const wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = true;
      const s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    };

    window.addEventListener('load', async () => {
      loadGFonts();

      if(location.host !== 'localhost:3000'){
        // @ts-ignore
        Sentry.init({ 'dsn': 'https://8b03983c61b541c780aacedeb557fafe@sentry.io/1866364' });
      }

      if ('serviceWorker' in navigator) {
        const registrations = await navigator.serviceWorker.getRegistrations();
        for(let registration of registrations) {  
            const unregistered = await registration.unregister();
            if(unregistered){
              location.reload();
            }
        }
      }
    });
    </script>
  </body>
</html>