<!-- {{SSRFunctions}} -->
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <!-- {{SSRHead}} -->

    <base href="/">
    
    <meta name="theme-color" content="#002FA7">

    <link rel="manifest" href="<%= htmlWebpackPlugin.options.pathname %>/assets/manifest.json">
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.pathname %>/favicon.ico">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.pathname %>/assets/style.css">
    <link rel="preload" as="font" href="<%= htmlWebpackPlugin.options.pathname %>/assets/fonts/andika.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="<%= htmlWebpackPlugin.options.pathname %>/assets/fonts/comfortaa.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="<%= htmlWebpackPlugin.options.pathname %>/assets/fonts/material.woff2" type="font/woff2" crossorigin="anonymous">

    <link rel="preconnect" href="https://base.cheno.fr">
    <!-- {{Segment}} -->
  </head>
  <body>
    <elara-app></elara-app>
    <noscript>JavaScript is needed to use this website.</noscript>
    <script src="<%= htmlWebpackPlugin.options.pathname %>/boot.js"></script>
    <script src="<%= htmlWebpackPlugin.options.pathname %>/vendor/webcomponents-loader.js" defer></script>
    <script src="<%= htmlWebpackPlugin.options.pathname %>/vendor/web-animations-next-lite.min.js" defer></script>
    <script>
    // @ts-check
    const userAgent = window.navigator.userAgent.toLowerCase();
    const oldEdge = userAgent.indexOf("edge") !== -1
    
    if(oldEdge){
      throw new Error('Please upgrade your browser.');
    }

    window.addEventListener('load', async () => {
      if ('serviceWorker' in navigator) {
        const registrations = await navigator.serviceWorker.getRegistrations();
        for(let registration of registrations) {  
            const unregistered = await registration.unregister();
            if(unregistered){
              location.reload();
            }
        }
      }
    });
    </script>
    <style>

    .material-icons {
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
    }

    @font-face {
      font-family: 'Andika';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: local('Andika Regular'), local('Andika-Regular'), url('./assets/fonts/andika.woff2') format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
      font-family: 'Comfortaa';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('./assets/fonts/comfortaa.woff2') format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
      font-family: 'Material Icons';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('./assets/fonts/material.woff2') format('woff2');
    }
    </style>
  </body>
</html>